body{
background-color: rgb(202, 133, 124);
color: rgb(255, 255, 255);
text-align: center;
font-size: 18px;
}





h1{
    text-align: center;
background-color: rgb(207, 118, 111);
border: 10px solid rgb(173, 86, 86) ;

}


em strong {

    color: rgb(190, 53, 53);
}

#banner {

    width: 70%;
}

.itens{
    font-style: italic;
text-align: left;
}

.Beneficios{
   background-color: rgb(100, 56, 56);
padding: 20px;}

h2{
    text-align: center;
    font-size: 35px;
}

.imagembeneficios{
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    border: 3px solid rgb(63, 20, 20);
    margin-top: 150px;
    line-height: 2.5 ;
    font-size: 20px;
}