body{
background-color: rgb(228, 167, 167);
color: rgb(202, 123, 123);
text-align: center;
}





h1{
    text-align: center;
background-color: rgb(209, 73, 63);
border: 10px solid rgb(161, 65, 65) ;

}


em strong {

    color: rgb(255, 89, 205);
}

#banner {

    width: 70%;
}

.itens{
    font-style: italic;
text-align: left;
}

.beneficios{
    background-color: rgb(218, 113, 113);
padding: 20px;}

h2{
    text-align: center;
}

.imagembeneficios{
    width: 50%;
}