body{
background-color: rgb(255, 198, 198);
color: rgb(255, 255, 255);
text-align: center;
}





h1{
    text-align: center;
background-color: rgb(209, 73, 63);
border: 10px solid rgb(161, 65, 65) ;

}


em strong {

    color: rgb(190, 53, 53);
}

#banner {

    width: 70%;
}

.itens{
    font-style: italic;
text-align: left;
}

.beneficios{
    background-color: rgb(116, 58, 58);
padding: 20px;}

h2{
    text-align: center;
}

.imagembeneficios{
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    border: 3px solid black;
}